<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Altdat</title>
    <!-- Include htmx script -->
    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>
</head>
<body>

    <div class="container mx-auto pt-12">
        <h1 class="text-2xl">Weather Viewer</h1>
        <div id="app" class="flex mt-8 gap-8">

            <div>
                <h2 class="text-lg">Enter a State</h2>
                <form class="flex gap-2 mt-2">
                    <input 
                      type="text" 
                      name="state" 
                      placeholder="KY, NY, CA" 
                      maxlength="2" 
                      required 
                      class="p-2 text-sm rounded border border-slate-400" />
                    <button 
                      class="bg-slate-800 rounded text-sm text-white px-4">
                        Search
                    </button>
                </form>
            </div>

    </div>

    <!-- Form with htmx attributes -->
    <form hx-post="/convert/form" hx-target="#result" hx-swap="outerHTML">
        <label for="data">Data:</label>
        <textarea name="data" rows="5" cols="50"></textarea><br>
        <label for="format_from">Format From:</label>
        <input type="text" name="format_from" required><br>
        <label for="format_to">Format To:</label>
        <input type="text" name="format_to" required><br>
        <button type="submit">Convert</button>
    </form>

    <!-- Placeholder for the result -->
    <div id="result"></div>

</body>
</html>
